body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;
}
#app {
  display: grid;
  gap: 5px;
  height: 100vh; /* Use viewport height to cover the entire screen height */
  width: 100vw; /* Use viewport width to cover the entire screen width */
   
  grid-template-rows: 40px auto 60px;
  grid-template-columns: auto;
  row-gap: 50px;
  grid-template-areas:
    "head"
    "main"
    "footer"
 }
 
 header {
  background-color:blue;
  grid-area: head;

 }
 
 main {
  background-color:white;
  grid-area: main;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-color: black;
  border: 1px black;

 }
 
 footer {
  background-color:green;
  grid-area: footer;
 }
 img {
  max-width: 100%;
  height: 350px;
  width: 375px;

 }

 #store-item.span {
  justify-content: space-between;
 }
